<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>応募一覧</title>

    <style>

    </style>
</head>

<body>
    <h2>匿名 様</h2>
    <h4>募集ID: {{recruit.recruit_ID}}</h4>
    {% if not entries %}
    <p>まだ応募がありません</p>

    {% elif not recruit.finish_flag %}
    <p><font color="red">※ まだマッチングが完了していません</font></p>
    <h2>応募一覧</h2>


    {% for itr in entries %}
        <li>{{itr.entry_ID}}: {{itr.comment}}
            <ul>投稿時刻: {{itr.post_time}}</ul>
            <ul>職種: {{itr.person_type}}</ul>
            <ul>人数: {{itr.person_number}}</ul></li>
    {% endfor %}

    <form action="/zibun/" method="post">
        {% csrf_token %}
        自分の募集ID: <input type="text" id="zibun_recruit_ID" value={{recruit.recruit_ID}}><br/>
        選択した応募ID: <input type="text" id="zibun_entry_ID" placeholder="応募ID入力"><br/>
        <input type="submit" value="マッチングを登録する">
    </form>

    {% else %}
    <h2>マッチングが完了しました</h2>
    <p>マッチングした応募ID: {{data.entry_ID}}</p>
    {% endif %}
</body>

</html>
